*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
}

#Ola, #OlaFooter {
    height: 150px;
    overflow: hidden;
}
#OlaOla, #OlaOlaFooter{
    height: 100%;
    width: 100%;
}
#OlaOlaOla {
    stroke: none;
    fill: #ffffff;
}
#OlaOlaOlaFooter {
    stroke: none;
    fill: #000000;
}

.todo {
    padding: 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/* Correccion estilo por id # */
#TituloConcepto, #TituloFormula, #TituloEjercicio {
    color: #000000;
    font-size: 70px;
    text-align: center;
    margin: 90px 50px 50px 50px;
}

nav {
    text-align: right;
    padding: 30px 50px;
}

nav > a:link, a:visited {
    color: #000;
    font-weight: 300;
    text-decoration: none;
    margin-right: 40px;
}

nav > a:hover {
    text-decoration: underline;
    font-size: 1.2em;
}

a:active {
    font-weight: bold;
}
/*Header*/
header {
    width: 100%;
    height: 900px;
    background: rgba(41, 128, 185, 0.4);
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(109, 213, 250, 0.4), rgba(41, 128, 185, 0.4)), url("imagenes/falling.gif");
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(109, 213, 250, 0.4), rgba(41, 128, 185, 0.4)), url("imagenes/falling.gif");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .CaidaLibreHeader {
    display: flex;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 33px;
}

.CaidaLibreHeader h1 {
    font-size: 140px;
    color: #000000;
    font-weight: bolder;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sobreTeorico {
    display: flex;
    justify-content: center;

}

.Simpson {
    width: 100%;
    height: 20%;
    padding-bottom: 10px;
}
#HomerFalling{
    position: center;
}

.sobreTeorico, .contenidoTeorico {
    width: 100%;
    margin-left: 10px;
}

.contenidoTeorico h3 {
    margin-bottom: 10px;
    padding: 7px;
}

.contenidoTeorico p {
    padding: 20px 50px 50px 20px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.3;
}

#Formula1, #Formula2, #Formula3{
    text-align: center;
    line-height: 3;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 6em;
}
.formula01:hover, .formula02:hover, .formula03:hover{
    background-color:  #ffd90f;
    height: 25.2em;
    width: 20.2em;
}

.formula01 {
    background-color: #5caa2f;
    border-radius: 10px;
    position: relative;
    height: 24em;
    width: 18em;
    top: 10px;
    display: inline-block;
    margin-left: 49px;
}
.formula02{
    background-color:  #F14E28;
    border-radius: 10px;
    position: relative;
    height: 24em;
    width: 18em;
    top: 10px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.formula03 {
    background-color:  #009DDC;
    border-radius: 10px;
    position: relative;
    height: 24em;
    width: 18em;
    top: 10px;
    display: inline-block;
}

#AclaracionFormulas {
    padding-top: 70px;
    text-align: justify;
    font-weight: 300;
}
#SubtituloAceleracion, #SubtituloQueEs{
    width: 900px;
    height: 40px;
    margin: 30px 30px 30px 20px;
    background: linear-gradient(45deg, rgb(255, 217, 15), rgba(255, 255, 255, 0.6));
    border: none;
    border-radius: 8px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
/* Correccion estilo por id # */
#Problema{
    padding: 40px 0;
    width: 90%;
    max-width: 850px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    line-height: 200%;
}
.Datos, .enunciado p{
    padding: 5px;
    text-align: justify;
}

input {
    width: 193px;
    height: 37px;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
}
label{
    font-weight: bold;
}
/* Correccion estilo por id # */
#botonResultado, #botonGrafico  {
    width: 300px;
    height: 45px;
    margin: 40px 5px 5px 5px;
    background: linear-gradient(45deg, rgb(255, 217, 15), rgba(236, 218, 76, 0.86));
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    align-content: center;
}
#RecargarPagina {
    width: 50px;
    height: 50px;
    margin: 40px 2px 2px 2px;
    background: #ffffff;
    border: none;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
}

#botonResultado:active, #botonGrafico:active, #RecargarPagina:active{
    font-weight: bold;
}

#botonResultado:link, #botonResultado:visited, #botonGrafico:link, #botonGrafico:visited, #RecargarPagina:link, #RecargarPagina:visited {
    font-weight: 300;
    text-decoration: none;
}

#botonResultado:hover, #botonGrafico:hover, #RecargarPagina:hover{
    text-decoration: blink;
    font-size: 1.2em;
}

#DatosPersonales {
    background-color: #000000;
    color: #726a6a;
    padding: 1%;
}

.contenidoFooter p {
    padding: 0.5% 0;
}
.waves{
    position: page;
}

#imgEjercicio{
    margin: 20px auto;
    display: block;
    width: 937px;
    height: 585px;
    border: none;
    background-image: url("imagenes/ciudadColores.jpg");
}


#UnidadesVelocidadInicial, #UnidadesTiempo, #UnidadesGravedad{
    width: 55px;
    height: 20px;
    margin: 4px 2px 2px 2px;
    background: linear-gradient(45deg, rgba(86, 213, 245, 0.56), rgba(253, 252, 252, 0.8));
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    cursor: pointer;
}