*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tajawal', sans-serif;
    background-color: white;
}

#Ola, #OlaFooter {
    height: 150px;
    overflow: hidden;
}
#OlaOla, #OlaOlaFooter{
    height: 100%;
    width: 100%;
}
#OlaOlaOla {
    stroke: none;
    fill: #ffffff;
}
#OlaOlaOlaFooter {
    stroke: none;
    fill: #000000;
}

.todo {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/* Correccion estilo por id # */
#TituloConcepto, #TituloFormula, #TituloEjercicio {
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

nav {
    text-align: right;
    padding: 30px 50px;
}

nav > a:link, a:visited {
    color: #000;
    font-weight: 300;
    text-decoration: none;
    margin-right: 40px;
}

nav > a:hover {
    text-decoration: underline;
    font-size: 1.2em;
}

a:active {
    font-weight: bold;
}
/*Header*/
header {
    width: 100%;
    height: 600px;
    background: rgba(41, 128, 185, 0.5);
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(109, 213, 250, 0.5), rgba(41, 128, 185, 0.5)), url("imagenes/hombre.jpg");
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(109, 213, 250, 0.5), rgba(41, 128, 185, 0.5)), url("imagenes/hombre.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .CaidaLibreHeader {
    display: flex;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.CaidaLibreHeader h1 {
    font-size: 80px;
    color: #000000;
    font-weight: bolder;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sobreTeorico {
    display: flex;
    justify-content: space-evenly;
}

.BartSimpson {
    width: 50%;
    height: 50%;
}
#ImagenBart{
    padding: 200px 24px;
}

.sobreTeorico, .contenidoTeorico {
    width: 100%;
    margin-left: 10px;
}

.contenidoTeorico h3 {
    margin-bottom: 10px;
    padding: 7px;
}

.contenidoTeorico p {
    padding: 27px;
    font-weight: 200;
    text-align: justify;
    line-height: 1.3;
}
#Formula1, #Formula2, #Formula3{
    text-align: center;
    line-height: 3;
    letter-spacing: 3px;
    font-family: Modern Roman;
    font-weight: bolder;
    font-size: 30px;
}

#AclaracionFormulas {
    padding-top: 50px;
    text-align: justify;
}


#SubtituloAceleracion, #SubtituloQueEs{
    width: 500px;
    height: 35px;
    margin: 30px 30px 30px 30px;
    background: linear-gradient(45deg, rgba(238, 134, 64, 0.87), rgba(255, 255, 255, 0.84));
    border: none;
    border-radius: 8px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    color: #000000;

}


/* Correccion estilo por id # */
#Problema{
    padding: 60px 0;
    width: 80%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    line-height: 200%;
}
.Datos, .enunciado p{
    padding: 5px;
    text-align: justify;
}

input {
    width: 193px;
    height: 37px;
    margin-top: 25px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}
label{
    font-weight: bold;
}
/* Correccion estilo por id # */
#botonResultado, #botonGrafico {
    width: 300px;
    height: 45px;
    margin: 40px 5px 5px 5px;
    background: linear-gradient(45deg, lightblue, rgba(70, 198, 227, 0.91));
    border: none;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

#botonResultado:active, #botonGrafico:active{
    font-weight: bold;
}

#botonResultado:link, #botonResultado:visited, #botonGrafico:link, #botonGrafico:visited  {
    font-weight: 300;
    text-decoration: none;
}

#botonResultado:hover, #botonGrafico:hover {
    text-decoration: blink;
    font-size: 1.2em;
}


#DatosPersonales {
    background-color: #000000;
    color: #726a6a;
    padding: 1%;
}

.contenidoFooter p {
    padding: 0.5% 0;
}
.waves{
    position: page;
}

#imgEjercicio{
    margin: 20px auto;
    display: block;
    width: 500px;
    height: 250px;
    border: 1px solid #000000;
}



